<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>General</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.atwiiks.squeaktime</string>
			<key>key</key>
			<string>isEnabled</string>
			<key>label</key>
			<string>Enabled</string>
			<key>PostNotificaton</key>
		  	<string>com.atwiiks.squeaktime/settingschanged</string>
		</dict>
		<dict>
    		<key>action</key>
  			<string>respring:</string>
 			<key>cell</key>
  			<string>PSButtonCell</string>
  			<key>label</key>
  			<string>Respring</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Changing Faces</string>
			<key>footerText</key>
			<string>To Change Faces go to the Watch App and Use the Face Gallery, Select a Face, and Tap "Use on LockScreen".</string>
		</dict>
	</array>
	<key>title</key>
	<string>SqueakTime</string>
</dict>
</plist>
